<template>
	<transition appear name="fade" >
		<div class="screen intro">
			<button class="button" v-on:click="navigate">
				<img class="app-screen" src="../assets/app.png" >
			</button>
		</div>
	</transition>
</template>

<script>
	import AppStore from 'stores/AppStore';
	import { VR_SCENE } from 'globals/AppScreen';
	import Sleep from 'services/Sleep';

	export default {

		name: 'intro',

		methods: {

			navigate: function () {
				Sleep.prevent();
				AppStore.setScreen(VR_SCENE);
			}
		}
	};
</script>

<style scoped>
	.intro {
		background-color: #01AAAD;
		z-index: 1;
		align-content: center;
		flex: none;
		display: block;
		overflow: hidden;
	}

	.app-screen {
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: auto;
		flex: none;
	}

	.button {
		width: 100%;
		height: 100%;
	}
</style>
