<template>
	<div class="screen savings-goal" ref="scene">

		<a-scene v-if="showVR" id="vr-scene" class="vr-scene" ref="vrScene" v-show="renderStarted" v-on:loaded="onSceneLoaded" v-on:renderstart="onRenderStart" v-on:enter-vr="onEnterVR" v-on:exit-vr="onExitVR" vr-mode-ui="enabled: false" >

			<a-assets>
				<img id="default-panorama" src="../assets/sky/main.jpg" >

				<!-- KEYS -->
				<img id="num-0" src="../assets/keypad/num0.png" >
				<img id="num-1" src="../assets/keypad/num1.png" >
				<img id="num-2" src="../assets/keypad/num2.png" >
				<img id="num-3" src="../assets/keypad/num3.png" >
				<img id="num-4" src="../assets/keypad/num4.png" >
				<img id="num-5" src="../assets/keypad/num5.png" >
				<img id="num-6" src="../assets/keypad/num6.png" >
				<img id="num-7" src="../assets/keypad/num7.png" >
				<img id="num-8" src="../assets/keypad/num8.png" >
				<img id="num-9" src="../assets/keypad/num9.png" >
				<img id="backspace" src="../assets/keypad/backspace.png" >

				<!-- ICONS -->
				<img id="island-icon" src="../assets/goal-icons/island.png" >
				<img id="travel-icon" src="../assets/goal-icons/travel.png" >
				<img id="car-icon" src="../assets/goal-icons/car.png" >
				<img id="house-icon" src="../assets/goal-icons/house.png" >
				<img id="special-event-icon" src="../assets/goal-icons/event.png" >
				<img id="wedding-icon" src="../assets/goal-icons/wedding.png" >

				<!-- DATES PICKER -->
				<img id="month-jan" src="../assets/date-picker/jan.png" >
				<img id="month-feb" src="../assets/date-picker/feb.png" >
				<img id="month-mar" src="../assets/date-picker/mar.png" >
				<img id="month-apr" src="../assets/date-picker/apr.png" >
				<img id="month-may" src="../assets/date-picker/may.png" >
				<img id="month-jun" src="../assets/date-picker/jun.png" >
				<img id="month-jul" src="../assets/date-picker/jul.png" >
				<img id="month-aug" src="../assets/date-picker/aug.png" >
				<img id="month-sept" src="../assets/date-picker/sept.png" >
				<img id="month-oct" src="../assets/date-picker/oct.png" >
				<img id="month-nov" src="../assets/date-picker/nov.png" >
				<img id="month-dec" src="../assets/date-picker/dec.png" >

				<img id="year-2016" src="../assets/date-picker/year2016.png" >
				<img id="year-2017" src="../assets/date-picker/year2017.png" >
				<img id="year-2018" src="../assets/date-picker/year2018.png" >
				<img id="year-2019" src="../assets/date-picker/year2019.png" >
				<img id="year-2020" src="../assets/date-picker/year2020.png" >
				<img id="year-2021" src="../assets/date-picker/year2021.png" >

				<!-- PRODUCTS -->
				<img id="money-on-call" src="../assets/products/money-on-call.png" >
				<img id="seven-day-notice" src="../assets/products/seven-day-notice.png" >
				<img id="thirtytwo-day-flexi-notice" src="../assets/products/thirtytwo-day-flexi-notice.png" >
				<img id="flexi-fixed" src="../assets/products/flexi-fixed.png" >
				<img id="fixed-deposit" src="../assets/products/fixed-deposit.png" >

				<img id="product-table" src="../assets/products/table.png" >

				<!-- UI -->
				<img id="btn-back" src="../assets/back.png" >
				<img id="btn-next" src="../assets/next.png" >
				<img id="btn-confirm" src="../assets/confirm.png" >

			</a-assets>

			<a-sky v-bind:src="sky.src" v-bind:opacity="sky.opacity" />

			<a-camera>

				<a-entity
					ref="raycaster"

					raycaster="interval: 300, objects: .clickable"
					cursorMaterial

					cursor="fuse: false"

					v-on:mouseenter="this.onCursorEnter"
					v-on:click="this.onCursorClick"
					v-on:mouseleave="this.onCursorLeave"
				/>

				<a-entity
					ref="cursorRing"
            		position="0 0 -1"
            		geometry="primitive: ring; radiusInner: 0.018; radiusOuter: 0.025"
            		v-bind:material="cursorMaterial"
            		v-bind:scale="cursorScale"
            	/>

			</a-camera>

			<transition v-bind:css="false" v-bind:appear="true" v-on:before-enter="beforeTransitionInScene" v-on:enter="transitionInScene" v-on:leave="transitionOutScene" mode="out-in">
				<component v-bind:is="app.currentStep" v-on:scene-change="onSceneChange" />
			</transition>

		</a-scene>

		<transition appear v-bind:css="false" name="fade" v-on:after-enter="transitionInComplete">

			<div ref="splash" class="splash" v-show="showSplash">

				<button class="ready-button" v-on:click="activateVR">

					<transition appear name="fade" >
						<svg class="cardboard-icon" viewBox="0 0 24 24">
						    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
						        <g id="cardboard" sketch:type="MSArtboardGroup">
						            <path d="M20.6364972,6 L3.19864407,6 C2.54824859,6 2,6.56836937 2,7.26931532 L2,17.7111261 C2,18.4120721 2.54824859,18.9803243 3.22463277,18.9803243 L7.9880226,18.9803243 C8.49875706,18.9803243 8.93649718,18.6564955 9.12045198,18.195991 L10.5055367,14.7287387 C10.739096,14.1440901 11.2949153,13.7327748 11.9435028,13.7327748 C12.5920904,13.7327748 13.1479096,14.1440901 13.3814689,14.7287387 L14.7665537,18.195991 C14.9505085,18.6564955 15.3882486,18.9803243 15.8729944,18.9803243 L20.6364972,18.9803243 C21.3387571,18.9803243 21.8870056,18.4120721 21.8870056,17.7111261 L21.8870056,7.26931532 C21.8870056,6.56836937 21.3387571,6 20.6364972,6 L20.6364972,6 Z M7.43310734,14.7744144 C6.21468927,14.7744144 5.22813559,13.7523333 5.22813559,12.4901622 C5.22813559,11.227991 6.21468927,10.206027 7.43310734,10.206027 C8.65141243,10.206027 9.6359322,11.227991 9.6359322,12.4901622 C9.6359322,13.7523333 8.64926554,14.7744144 7.43310734,14.7744144 L7.43310734,14.7744144 Z M16.4550282,14.7733604 C15.2372881,14.7733604 14.2510734,13.7517477 14.2510734,12.4901622 C14.2510734,11.2286937 15.2372881,10.2070811 16.4550282,10.2070811 C17.6727684,10.2070811 18.6589831,11.2286937 18.6589831,12.4901622 C18.6589831,13.7517477 17.6727684,14.7733604 16.4550282,14.7733604 L16.4550282,14.7733604 Z" id="Imported-Layers" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
						            <g id="Oval-2-+-Imported-Layers" sketch:type="MSLayerGroup" transform="translate(18.000000, 20.000000)"></g>
						        </g>
						    </g>
						</svg>
					</transition>

					<div class="instuctions-box">
						<transition appear name="fade-move">
							<div class="instuction" v-show="renderStarted">
								INSERT INTO VR VIEWER<br/>
								TAP WHEN READY
							</div>
						</transition>

						<transition appear name="fade-move">
							<div class="instuction" v-show="!renderStarted">BOOTING VR EXPERIENCE<br/>
								<svg class="spinner" viewPort="0 0 40 40" preserveAspectRatio="xMidYMid meet" width="40" height="40">
									<circle class="spinner__circle spinner__circle--loop" cx="20" cy="20" r="16" stroke="#FFFFFF" fill="none" stroke-dasharray="100" stroke-linecap="butt" stroke-width="4" />
								</svg>
							</div>
						</transition>
					</div>

				</button>

			</div>
		</transition>

	</div>
</template>

<script>

	import * as SavingsGoals from 'globals/SavingsGoals';
	import { SAVINGS_GOAL, GOAL_AMOUNT, GOAL_DATE, INITIAL_DEPOSIT, PRODUCT_SELECTION, CONFIRMATION, THANK_YOU }  from 'globals/Steps';
	import { INTRO } from 'globals/AppScreen';

	import AppStore from 'stores/AppStore';

	import SavingsGoal from 'scenes/SavingsGoal';
	import GoalAmount from 'scenes/GoalAmount';
	import GoalDate from 'scenes/GoalDate';
	import InitialDeposit from 'scenes/InitialDeposit';
	import ProductSelection from 'scenes/ProductSelection';
	import Confirmation from 'scenes/Confirmation';
	import ThankYou from 'scenes/ThankYou';

	export default {

		name: 'vr-scene',

		components: {
			'savings-goal': SavingsGoal,
			'goal-amount': GoalAmount,
			'goal-date': GoalDate,
			'initial-deposit': InitialDeposit,
			'product-selection': ProductSelection,
			'confirmation': Confirmation,
			'thank-you': ThankYou
		},

		data: function () {
			return {
				app: AppStore,

				showSplash: true,
				showVR: false,

				ready: false,
				sceneLoaded: false,
				renderStarted: false,

				sky: {
					src: '#default-panorama',
					opacity: 1,
					rotation: '0 0 0'
				},

				cursor: {
					scale: 1,
					color: '#FFFFFF'
				}
			};
		},

		computed: {
			cursorScale: function () {
				return (this.cursor.scale + ' ' + this.cursor.scale + ' ' + this.cursor.scale);
			},

			cursorMaterial: function () {
				return ('color: ' + this.cursor.color + '; shader: flat; side: front');
			},

			sceneScale: function () {
				return this.scene.scale + ' ' + this.scene.scale + ' ' + this.scene.scale;
			}
		},

		watch: {
			'app.investment.goal': function (value) {

				let src = '#default-panorama';
				let rotation = '0 0 0';

				switch (value) {

					case SavingsGoals.WEDDING:
						src = 'static/img/sky/wedding.jpg';
						rotation = '0 0 0';
						break;

					case SavingsGoals.EVENT:
						src = 'static/img/sky/event.jpg';
						rotation = '0 0 0';
						break;

					case SavingsGoals.TRAVEL:
						src = 'static/img/sky/travel.jpg';
						rotation = '0 0 0';
						break;

					case SavingsGoals.ISLAND:
						src = 'static/img/sky/island.jpg';
						rotation = '0 0 0';
						break;

					case SavingsGoals.HOME_DEPOSIT:
						src = 'static/img/sky/home.jpg';
						rotation = '0 0 0';
						break;

					case SavingsGoals.CAR_DEPOSIT:
						src = 'static/img/sky/car.jpg';
						rotation = '0 0 0';
						break;

					default:
						src = '#default-panorama';
						rotation = '0 45 0';
						break;
				}

				const onComplete = () => {
					this.sky.src = src;
					this.sky.rotation = rotation;
				};

				const timeline = new TimelineMax();

				timeline.to(this.sky, 0.4, {opacity: 0, onComplete: onComplete, ease:Power2.easeIn });
				timeline.to(this.sky, 0.4, {opacity: 1, ease:Power2.easeIn });
			}
		},

		mounted: function () {

			this.booted
			const scene = this.$refs.scene;

			if (scene.loaded) {
				this.onSceneLoaded();
			}
		},

		methods: {

			transitionInComplete: function() {
				this.showVR = true;
			},

			beforeTransitionInScene: function(el) {
				el.setAttribute('scale', '0 0 0');
			},

			transitionInScene: function(el, done) {
				const scene = {
					scale: 0
				};

				const onUpdate = () => {
					el.setAttribute('scale', scene.scale + ' ' + scene.scale + ' ' + scene.scale);
				}

				TweenLite.to(scene, 1.3, {scale: 1, ease:Power2.easeOut, onUpdate:onUpdate, onComplete:done});
			},

			transitionOutScene: function(el, done) {
				const scene = {
					scale: 1
				};

				const onUpdate = () => {
					el.setAttribute('scale', scene.scale + ' ' + scene.scale + ' ' + scene.scale);
				}

				TweenLite.to(scene, 1.3, {scale: 0, ease:Power2.easeIn, onUpdate:onUpdate, onComplete:done});
			},

			activateVR: function () {
				if (this.renderStarted){
					this.$refs.vrScene.enterVR();
					this.showSplash = false;
				}
			},

			onSceneLoaded: function () {
				this.$off('loaded', this.sceneLoaded);
				this.sceneLoaded = true;
			},

			onRenderStart: function () {
				this.$off('renderstart', this.onRenderStart);
				this.renderStarted = true;
			},

			onEnterVR: function () {
				this.showSplash = false;
			},

			onExitVR: function () {
				this.showSplash = true;
			},

			onCursorEnter: function (event) {
				if (event.detail.intersectedEl.className === 'clickable') {
					TweenMax.to(this.cursor, 0.3, { scale: 3, color:'#01AAAD', ease: Quad.easeOut });
				}
			},

			onCursorClick: function (event) {
				if (event.detail.intersectedEl.className === 'clickable') {
					TweenMax.to(this.cursor, 0.3, { scale: 0.7, color:'#FF9900', ease: Power3.easeInOut, yoyo: true, repeat: 1 });
				}
			},

			onCursorLeave: function (event) {
				if (event.detail.intersectedEl.className === 'clickable') {
					TweenMax.to(this.cursor, 0.3, { scale: 1, color:'#FFFFFF', ease: Back.easeOut });
				}
			},

			onSceneChange: function (data) {
				this.app.currentStep = data.nextStep;
			}
		}
	};
</script>

<style scoped>

	.savings-goal {
		background-color: #000000;
		z-index: 1;
		align-content: center;
		/*flex-wrap: wrap;*/
		overflow: hidden;
	}

	.vr-scene {
		/*display: none;*/
		position: absolute;
		z-index: 1;
		flex: none;
		width: 100%;
		height: 100%
	}

	.splash {
		background-color: #000000;
		width: 100%;
		height: 100%;
		color: #FFFFFF;
		display: flex;
		/*flex: 1 0 auto;*/
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 2;
	}

	.ready-button {
		font-size: 16px;
		padding: 16px;
		width: 100%;
		height: 100%;
	}

	.instuctions-box {
		height: 64px;
	}

	.instruction {
		top:0;
		position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	}

	.cardboard-icon {
		width: 162px;
		height: auto;
	}

	.spinner {
		display: inline-block;
		margin: 8px;
		transform: rotate(-90deg);
	}

	.spinner__circle--loop {
		animation: app-loader__loop 3000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.fade-enter-active, .fade-leave-active {
		transition: opacity 0.3s;
	}

	.fade-enter, .fade-leave-active {
		opacity: 0;
	}

	.fade-move-enter-active, .fade-move-leave-active {
		transition: opacity 0.3s, transform 0.3s ease-out;
	}

	.fade-move-enter {
		opacity: 0;
		transform: translateY(50%);
	}

	.fade-move-leave-active {
		opacity: 0;
		transform: translateY(-50%);
	}

</style>