<template>
	<a-entity class="non-clickable">
		<canvas v-bind:id="canvasID" ref="canvas" class="canvas" crossorigin="anonymous" />
		<a-entity v-bind:geometry="geometry" v-bind:material="material" />
	</a-entity>
</template>


<script>
	import generateCanvasID from 'services/CanvasID';

	const PIXELS_PER_METER = 100;
	const FONT_FAMILY = '"FNB Sans", Roboto, Arial, sans-serif';

	export default {

		name: 'canvas-text',

		props: {

			text: {
				type: String,
      			default: ''
			},

			fontStyle: {
		      type: String,
		      default: ''
    		},

			fontSize: {
				type: Number,
      			default: 0.6
			},

			color: {
				type: String,
      			default: '#FFFFFF'
			},

			textAlign: {
				type: String,
      			default: 'left'
			},

			offsetX: {
				type: Number,
      			default: 0
			},

			offsetY: {
				type: Number,
      			default: 0
			},

			fixedWidth: {
				type: Number
			},

			fixedHeight: {
				type: Number
			},
		},

		data: function () {
			return {
				canvasID: 'canvas-text_' + generateCanvasID(),
				textWidth: 0
			};
		},

		computed: {

			material: function () {
				return 'src: #' + this.canvasID + '; side: front; shader: flat; transparent: true;';
			},

			geometry: function () {
				const width = this.fixedWidth || this.textWidth;
				const height = this.fixedHeight || this.fontSize;

				return 'primitive: plane; width: ' + width + '; height:' + height;
			},
		},

		watch: {
			text: function () {
				this.renderText();
			}
		},

		mounted: function () {
			this.renderText();
		},

		methods: {

			renderText: function () {
				const canvas = this.$refs.canvas;
				const context = canvas.getContext('2d');

				canvas.width = (this.fixedWidth || this.getTextWidth()) * PIXELS_PER_METER;
				canvas.height =  (this.fixedHeight || this.fontSize) * PIXELS_PER_METER;

				context.clearRect(0, 0, canvas.width, canvas.height);

				context.fillStyle = this.color;

				context.font = this.fontStyle + ' ' + (this.fontSize * PIXELS_PER_METER) + 'px ' + FONT_FAMILY;
				context.textAlign = this.textAlign;
				context.textBaseline = 'bottom';

				if(this.fixedWidth && this.textAlign !== 'left') {
					if(this.textAlign === 'right') {
						context.fillText(this.text, (this.fixedWidth  + this.offsetX) * PIXELS_PER_METER , (this.fontSize + this.offsetY) * PIXELS_PER_METER);
					} else if(this.textAlign === 'center') {
						context.fillText(this.text, (0.5 * this.fixedWidth  + this.offsetX) * PIXELS_PER_METER , (this.fontSize + this.offsetY) * PIXELS_PER_METER);
					}
				} else {
					context.fillText(this.text, this.offsetX * PIXELS_PER_METER , (this.fontSize + this.offsetY) * PIXELS_PER_METER);
				}
			},

			getTextWidth: function () {

				const canvas = this.$refs.canvas;

				let textWidth = 0;

				if (canvas) {
					const context = canvas.getContext('2d');
					context.font = this.fontStyle + ' ' + (this.fontSize * PIXELS_PER_METER) + 'px ' + FONT_FAMILY;
					textWidth = context.measureText(this.text).width / PIXELS_PER_METER;
				} else {
					textWidth = this.text.length * this.fontSize;
				}

				this.textWidth = textWidth;

				return textWidth;
			},

		}
	};

</script>

<style scoped>
	.canvas {
		display: none;
	}
</style>
