<template>
	<a-entity class="non-clickable" v-bind:rotation="rotation">
		<canvas v-bind:id="canvasID" ref="canvas" class="canvas" crossorigin="anonymous" />
		<a-entity v-bind:geometry="geometry" v-bind:material="material" />
	</a-entity>
</template>


<script>
	import generateCanvasID from 'services/CanvasID';

	const PIXELS_PER_METER = 100;
	const FONT_FAMILY = '"FNB Sans", Roboto, Arial, sans-serif';

	export default {

		name: 'curved-canvas-text',

		props: {

			text: {
				type: String,
      			default: ''
			},

			fontStyle: {
		      type: String,
		      default: ''
    		},

			fontSize: {
				type: Number,
      			default: 0.6
			},

			color: {
				type: String,
      			default: '#FFFFFF'
			},

			textAlign: {
				type: String,
      			default: 'left'
			},

			offsetX: {
				type: Number,
      			default: 0
			},

			offsetY: {
				type: Number,
      			default: 0
			},

			fixedWidth: {
				type: Number
			},

			fixedHeight: {
				type: Number
			},

			radius: {
				type: Number,
				required: true
			},

			rotationX: {
				type: Number,
				default: 0
			},

			rotationY: {
				type: Number,
				default: 0
			},

			rotationZ: {
				type: Number,
				default: 0
			}
		},

		data: function () {
			return {
				canvasID: 'canvas-text_' + generateCanvasID(),
				textWidth: 0,
				theta: 0,
			};
		},

		computed: {

			material: function () {
				return 'src: #' + this.canvasID + '; side: back; shader: flat; transparent: true;';
				// return 'side: double; shader: flat; transparent: false;';
			},

			geometry: function () {
				const width = this.fixedWidth || this.textWidth;
				const height = this.fixedHeight || this.fontSize;

				// Calculate ratio of segment to circumference (to degrees) * (radians on a circle) * ratio
				const degrees = (180 / Math.PI) * (2 * Math.PI) * (width / (2 * Math.PI * this.radius));
				// const degrees = 360 - ((180 / Math.PI) * ((2 * Math.PI * this.radius) - width) / this.radius);

				this.theta = degrees;

				return 'primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: ' + degrees + '; height: ' + height + '; radius:' + this.radius;
			},

			rotation: function () {

				let rY = (this.rotationY - 0.5 * this.theta) % 360;

				if (rY < 0) {
					rY += 360;
				}

				return this.rotationX + ' ' + rY + ' ' + this.rotationZ;
				// return this.rotationX + ' ' + (this.rotationY + 0.5 * this.theta) + ' ' + this.rotationZ;
			}
		},

		watch: {
			text: function () {
				this.renderText();
			}
		},

		mounted: function () {
			this.renderText();
		},

		methods: {

			renderText: function () {
				const canvas = this.$refs.canvas;
				const context = canvas.getContext('2d');

				canvas.width = (this.fixedWidth || this.getTextWidth()) * PIXELS_PER_METER;
				canvas.height =  (this.fixedHeight || this.fontSize) * PIXELS_PER_METER;

				context.clearRect(0, 0, canvas.width, canvas.height);

				// translate context to center of canvas
		      	context.translate(canvas.width , 0);

		      	// flip context horizontally
		      	context.scale(-1, 1);

				context.fillStyle = this.color;

				context.font = this.fontStyle + ' ' + (this.fontSize * PIXELS_PER_METER) + 'px ' + FONT_FAMILY;
				context.textAlign = this.textAlign;
				context.textBaseline = 'bottom';

				if(this.fixedWidth && this.textAlign !== 'left') {
					if(this.textAlign === 'right') {
						context.fillText(this.text, (this.fixedWidth  + this.offsetX) * PIXELS_PER_METER , (this.fontSize + this.offsetY) * PIXELS_PER_METER);
					} else if(this.textAlign === 'center') {
						context.fillText(this.text, (0.5 * this.fixedWidth  + this.offsetX) * PIXELS_PER_METER , (this.fontSize + this.offsetY) * PIXELS_PER_METER);
					}
				} else {
					context.fillText(this.text, this.offsetX * PIXELS_PER_METER , (this.fontSize + this.offsetY) * PIXELS_PER_METER);
				}
			},

			getTextWidth: function () {

				const canvas = this.$refs.canvas;

				let textWidth = 0;

				if (canvas) {
					const context = canvas.getContext('2d');
					context.font = this.fontStyle + ' ' + (this.fontSize * PIXELS_PER_METER) + 'px ' + FONT_FAMILY;
					textWidth = context.measureText(this.text).width / PIXELS_PER_METER;

				} else {
					textWidth = this.text.length * this.fontSize;
				}

				this.textWidth = textWidth;

				return textWidth;
			},

		}
	};

</script>

<style scoped>
	.canvas {
		display: none;
	}
</style>
