<template>
	<a-entity v-bind:position="position" >

		<curved-canvas-text v-bind:radius="radius" v-bind:text="display" v-bind:fontSize="0.4" v-bind:fixedHeight="0.4" v-bind:offsetY="0.01" font-style="" color="#FFFFFF" position="0 1.1 0" v-bind:rotation-y="0" />

		<a-entity position="0 0.3 0">
			<template v-for="(year, index) in years">
				<date-picker-button v-bind:texture="year.texture" v-bind:position="getPosition(index, 6)" v-bind:rotation="getRotation(index, 6)" v-bind:value="year.value" v-on:date-picker-button-click="setYear" v-bind:selected="year.selected" />
			</template>
		</a-entity>

		<a-entity position="0 -0.8 0">
			<template v-for="(month, index) in months">
				<date-picker-button v-bind:texture="month.texture" v-bind:position="getPosition(index, 12)" v-bind:rotation="getRotation(index, 12)" v-bind:value="month.value" v-on:date-picker-button-click="setMonth" v-bind:selected="month.selected" v-bind:disabled="month.disabled" />
			</template>
		</a-entity>

	</a-entity>
</template>


<script>
	import * as SavingsGoals from 'globals/SavingsGoals';
	import DatePickerButton from 'components/DatePickerButton';
	import CurvedCanvasText from 'components/CurvedCanvasText';
	import Layout from 'services/Layout';
	import moment from 'moment';

	let NOW = moment();

	export default {

		name: 'date-picker',

		props: ['y', 'radius', 'angle', 'setDate'],

		data: function () {
			return {

				year: null,
				month: null,
				date: moment(),

				years: [
					{
						texture: '#year-2021',
						value: 2021,
						selected: false,
						disabled: false,
					},
					{
						texture: '#year-2020',
						value: 2020,
						selected: false,
						disabled: false,
					},
					{
						texture: '#year-2019',
						value: 2019,
						selected: false,
						disabled: false,
					},
					{
						texture: '#year-2018',
						value: 2018,
						selected: false,
						disabled: false,
					},
					{
						texture: '#year-2017',
						value: 2017,
						selected: false,
						disabled: false,
					},
					{
						texture: '#year-2016',
						value: 2016,
						selected: false,
						disabled: false,
					}
				],

				months: [
					{
						texture: '#month-dec',
						value: 11,
						selected: false,
						disabled: false,
					},

					{
						texture: '#month-nov',
						value: 10,
						selected: false,
						disabled: false,
					},

					{
						texture: '#month-oct',
						value: 9,
						selected: false,
						disabled: false,
					},

					{
						texture: '#month-sept',
						value: 8,
						selected: false,
						disabled: false,
					},

					{
						texture: '#month-aug',
						value: 7,
						selected: false,
						disabled: false,
					},

					{
						texture: '#month-jul',
						value: 6,
						selected: false,
						disabled: false,
					},

					{
						texture: '#month-jun',
						value: 5,
						selected: false,
						disabled: false,
					},

					{
						texture: '#month-may',
						value: 4,
						selected: false,
						disabled: false,
					},

					{
						texture: '#month-apr',
						value: 3,
						selected: false,
						disabled: false,
					},

					{
						texture: '#month-mar',
						value: 2,
						selected: false,
						disabled: false,
					},

					{
						texture: '#month-feb',
						value: 1,
						selected: false,
						disabled: false,
					},

					{
						texture: '#month-jan',
						value: 0,
						selected: false,
						disabled: false,
					}
				],
			};
		},

		components: {
			'date-picker-button': DatePickerButton,
			'curved-canvas-text': CurvedCanvasText
		},

		computed: {
			position: function () {
				return ('0 ' + this.y + ' 0');
			},

			display: function () {

				if(this.year === null) {
					return 'SELECT A YEAR';
				}

				if(this.month === null) {
					return 'SELECT A MONTH';
				}

				this.date.utc().year(this.year);
				this.date.utc().month(this.month);

				return this.date.format('MMMM YYYY').toUpperCase();
			}
		},

		mounted: function (){
			this.watchYear(null);
			this.watchMonth(null);
		},

		watch: {
			year: 'watchYear',
			month: 'watchMonth'
		},

		methods: {

			getPosition: function (index, total) {
				const position =  Layout.distributeAlongCircumference(this.angle, this.radius, index, total);
				return position.x + ' 0 ' + position.y
			},

			getRotation: function (index, total) {
				return Layout.rotateToCenter(this.angle, index, total);
			},

			onClickGoal: function (goalIndex) {
				this.setGoal(this.goals[goalIndex]);
				this.$emit('goal-picker-change');
				this.active = goalIndex;
			},

			setMonth: function (value) {

				let date = moment();
				date.utc().year(this.year);
				date.utc().month(value);

				if(date.isAfter(NOW)) {
					this.month = value;
				}

				this.setDate(this.year, this.month);
			},

			setYear: function (value) {
				this.year = value;
				this.month = null;
				this.watchMonth();

				this.setDate(this.year, this.month);
			},

			watchYear: function (value) {
				this.years.forEach ((year) => {
					year.selected = year.value === value;
				});
			},

			watchMonth: function (value) {
				if(this.year === null) {
					this.months.forEach ((month) => {
						month.disabled = true;
						month.selected = false;
					});
				} else {
					let date = moment();
					date.utc().year(this.year);

					const endDate = NOW.clone().add(5, 'years');

					this.months.forEach ((month) => {
						date.utc().month(month.value);
						month.disabled = !date.isBetween(NOW, endDate, null, '(]');
						month.selected = month.value === value;
					});
				}
			}
		}
	};

</script>

<style scoped>
	.display-canvas {
		position: absolute;
		z-index: 200000;
		top: 0;
		left: 0;
		display: none;
		background-color: transparent;
	}

</style>
