<template>
	<a-entity v-bind:class="className" geometry="primitive: plane; width: 1; height: 1" v-bind:material="material" v-on:click="onClick" v-bind:scale="scale" />
</template>

<script>
	export default {

		name: 'date-picker-button',

		props: {
			disabled: {
				type: Boolean,
				default: false,
			},

			selected: {
				type: Boolean,
				default: false,
			},

			value: {
				required: true
			},

			texture: {
				type: String,
				required: true
			}
		},

		data: function () {
			return {
				scaleValue: 1,
				opacity: 1,
			};
		},

		computed: {
			scale: function () {
				return (this.scaleValue + ' ' + this.scaleValue + ' 0');
			},

			material: function () {
				return 'src: ' + this.texture + '; side: front; shader: flat; transparent: true; opacity:' + this.opacity;
			},

			className: function () {
				return this.disabled ? 'non-clickable' :  'clickable';
			}
		},

		watch: {
			selected: function (newVal) {
				if (!this.disabled) {
					if (newVal) {
						TweenMax.to(this.$data, 0.3, { scaleValue: 0.5, ease: Power2.easeIn });
					} else {
						TweenMax.to(this.$data, 0.3, { scaleValue: 1, ease: Power2.easeIn });
					}
				}
			},

			disabled: function (newVal) {
				if (newVal) {
					TweenMax.to(this.$data, 0.3, { scaleValue: 1, opacity: 0.3, ease: Power2.easeIn });
				} else {
					TweenMax.to(this.$data, 0.3, { scaleValue: 1, opacity: 1, ease: Power2.easeIn });
				}
			}
		},

		methods: {
			onClick: function (event) {
				if (!this.selected) {
					TweenMax.to(this.$data, 0.3, { scaleValue: 0.7, ease: Power2.easeInOut, yoyo: true, repeat: 1 });
				}

				if (!this.disabled) {
					this.$emit('date-picker-button-click', this.value );
				}
			}
		}
	};
</script>
