<template>
	<a-entity v-bind:position="position" >
		<template v-for="(goal, index) in goals">
			<toggle-button v-bind:texture="goal.texture" v-bind:position="getPosition(index)" v-bind:rotation="getRotation(index)" v-bind:value="goal.value" v-bind:label="goal.label" v-on:toggle-button-click="onClickGoal" />
		</template>
	</a-entity>
</template>


<script>
	import ToggleButton from 'components/ToggleButton';
	import Layout from 'services/Layout';
	import * as SavingsGoals from 'globals/SavingsGoals';

	export default {

		name: 'goal-picker',

		props: ['y', 'radius', 'angle', 'setGoal'],

		data: function () {
			return {
				goals: [
					{
						texture: '#house-icon',
						value: SavingsGoals.HOME_DEPOSIT,
						label: 'HOUSE DEPOSIT'
					},

					{
						texture: '#car-icon',
						value: SavingsGoals.CAR_DEPOSIT,
						label: 'CAR'
					},

					{
						texture: '#special-event-icon',
						value: SavingsGoals.EVENT,
						label: 'SPECIAL EVENT'
					},

					{
						texture: '#wedding-icon',
						value: SavingsGoals.WEDDING,
						label: 'WEDDING'
					},

					{
						texture: '#travel-icon',
						value: SavingsGoals.TRAVEL,
						label: 'INTERNATIONAL TRAVEL'
					},

					{
						texture: '#island-icon',
						value: SavingsGoals.ISLAND,
						label: 'ISLAND HOLIDAY'
					},
				],
			};
		},

		components: {
			'toggle-button': ToggleButton
		},

		computed: {
			position: function () {
				return ('0 ' + this.y + ' 0');
			}
		},

		watch: {
		},

		mounted: function () {
		},

		methods: {

			getMaterial: function (goal) {
				return 'src: #' + goal + '-icon; side: front; shader: flat; transparent: true;';
			},

			getPosition: function (index) {
				const position =  Layout.distributeAlongCircumference(this.angle, this.radius, index, this.goals.length);
				return position.x + ' 0 ' + position.y
			},

			getRotation: function (index) {
				return Layout.rotateToCenter(this.angle, index, this.goals.length);
			},

			onClickGoal: function (value) {
				this.setGoal(value);
				this.$emit('goal-picker-change');
			}

		}
	};

</script>

<style scoped>
	.display-canvas {
		position: absolute;
		z-index: 200000;
		top: 0;
		left: 0;
		display: none;
		background-color: transparent;
	}

</style>
