<template>
	<a-entity>

		<canvas-text v-bind:text="display" v-bind:fontSize="0.4" v-bind:fixedHeight="0.4" v-bind:offsetY="0.04" font-style="" color="#FFFFFF" position="0 0.6 0" />

		<keypad-button texture="#num-1" value="1" position="-0.6 0 0" v-on:keypad-event-click="onClickDigit" />
		<keypad-button texture="#num-2" value="2" position="0 0 0" v-on:keypad-event-click="onClickDigit" />
		<keypad-button texture="#num-3" value="3" position="0.6 0 0" v-on:keypad-event-click="onClickDigit" />

		<keypad-button texture="#num-4" value="4" position="-0.6 -0.6 0" v-on:keypad-event-click="onClickDigit" />
		<keypad-button texture="#num-5" value="5" position="0 -0.6 0" v-on:keypad-event-click="onClickDigit" />
		<keypad-button texture="#num-6" value="6" position="0.6 -0.6 0" v-on:keypad-event-click="onClickDigit" />

		<keypad-button texture="#num-7" value="7" position="-0.6 -1.2 0" v-on:keypad-event-click="onClickDigit" />
		<keypad-button texture="#num-8" value="8" position="0 -1.2 0" v-on:keypad-event-click="onClickDigit" />
		<keypad-button texture="#num-9" value="9" position="0.6 -1.2 0" v-on:keypad-event-click="onClickDigit" />

		<keypad-button texture="#num-0" value="0" position="0 -1.8 0" v-on:keypad-event-click="onClickDigit" />
		<keypad-button texture="#backspace" value="backspace" position="0.6 -1.8 0" v-on:keypad-event-click="onBackSpace" />

	</a-entity>
</template>


<script>
	import CanvasText from 'components/CanvasText';
	import KeypadButton from 'components/KeypadButton';
	import *  as Utils from 'services/Utils';

	export default {

		name: 'keypad',

		props: ['setValue'],

		data: function () {
			return {
				digits: ''
			};
		},

		components: {
			'keypad-button': KeypadButton,
			'canvas-text' :CanvasText
		},

		computed: {
			display: function () {
				this.setValue(parseInt(this.digits || 0));

				this.$emit('keypad-change', parseInt(this.digits || 0));

				return Utils.formatCurrency(this.digits);
			}
		},

		mounted: function () {
			this.digits = '0';
		},

		methods: {
			onClickDigit: function (digit) {
				this.digits += digit;
			},

			onBackSpace: function (value) {
				this.digits = this.digits.substring(0, this.digits.length - 1);
			}
		}
	};

</script>
