<template>
	<a-entity class="clickable" geometry="primitive: circle; radius: 0.25" v-bind:material="material" v-on:click="onClick" v-bind:scale="scale" />
</template>

<script>
	export default {

		name: 'keypad-button',

		props: ['value', 'texture'],

		data: function () {
			return {
				scaleValue: 1
			};
		},

		computed: {
			scale: function () {
				return (this.scaleValue + ' ' + this.scaleValue + ' 0');
			},


			material: function () {
				return 'src: ' + this.texture + '; side: front; shader: flat; transparent: true;';
			},
		},

		methods: {
			onClick: function (event) {
				TweenMax.to(this.$data, 0.3, { scaleValue: 0.7, ease: Power2.easeOut, yoyo: true, repeat: 1 });
				this.$emit('keypad-event-click', this.value );
			}
		}
	};
</script>
