<template>
	<a-entity class="clickable" geometry="primitive: plane; width: 1.5; height: 0.75" v-bind:material="material"  v-on:click="onClick" v-bind:scale="scale"/>
</template>

<script>
	export default {

		name: 'navigation-button',

		props: ['direction'],


		data: function () {
			return {
				scaleValue: 1
			};
		},

		computed: {
			material: function () {

				let src = '#btn-back';

				if (this.direction === 'next') {
					src = '#btn-next';
				} else if (this.direction === 'confirm') {
					src = '#btn-confirm';
				}

				return 'src: ' + src + '; shader: flat; side: front; transparent: true';
			},

			scale: function () {
				return (this.scaleValue + ' ' + this.scaleValue + ' 0');
			}
		},

		methods: {
			onClick: function (event) {
				TweenMax.to(this.$data, 0.3, { scaleValue: 0.7, ease: Power2.easeOut, yoyo: true, repeat: 1 });
				this.$emit('navigation-button-click', this.direction );
			}
		}

	};
</script>
