<template>
	<a-entity>
		<canvas-text ref="heading" text="STEP" v-bind:fontSize="0.6" v-bind:fixedHeight="0.5" v-bind:offsetY="0.03" color="#FFFFFF" position="-0.6 1.14 0" />
		<canvas-text ref="step" v-bind:text="step" v-bind:fontSize="2.175" v-bind:fixedHeight="1.7" v-bind:offsetY="0.07" font-style="" color="#FFFFFF" position="0 0 0" />
		<canvas-text ref="title" v-bind:text="title" v-bind:fontSize="0.54" v-bind:fixedHeight="0.45" v-bind:fixedWidth="6" v-bind:offsetY="0.03" color="#FFFFFF" font-style="" position="1.74 -1.1 0" />
	</a-entity>
</template>

<script>
	import CanvasText from 'components/CanvasText';

	export default {

		name: 'step-inicator',

		props: ['step', 'title'],

		components: {
			'canvas-text': CanvasText
		},

	};
</script>
