<template>
	<a-entity v-on:click="onClick" v-on:mouseenter="onMouseEnter" v-on:mouseleave="onMouseLeave" >
		<a-entity v-bind:class="className"  v-bind:scale="iconScale" v-bind:material="material" geometry="primitive: plane; width: 1; height: 1;" position="0 0 0"></a-entity>
		<canvas-text v-bind:text="label" v-bind:fontSize="0.3" v-bind:scale="labelScale" v-bind:fixedHeight="0.3" v-bind:offsetY="0.01" font-style="" color="#FFFFFF" position="0 -1 0" />
	</a-entity>
</template>

<script>

	import CanvasText from 'components/CanvasText';

	export default {

		name: 'toggle-button',

		props: {
			disabled: {
				type: Boolean,
				default: false,
			},

			selected: {
				type: Boolean,
				default: false,
			},

			value: {
				required: true
			},

			label: {
				type: String,
				required: true
			},

			texture: {
				type: String,
				required: true
			}
		},

		components: {
			'canvas-text': CanvasText
		},

		data: function () {
			return {

				animate: {
					label: {
						scale: 0
					},

					icon: {
						opacity: 0.5,
						scale: 1
					}
				}
			};
		},

		computed: {
			iconScale: function () {
				return (this.animate.icon.scale + ' ' + this.animate.icon.scale + ' ' + this.animate.icon.scale);
			},

			labelScale: function () {
				return (this.animate.label.scale + ' ' + this.animate.label.scale + ' ' + this.animate.label.scale);
			},

			material: function () {
				return 'src: ' + this.texture + '; side: front; shader: flat; transparent: true; opacity:' + this.animate.icon.opacity;
			},

			className: function () {
				return this.disabled ? 'non-clickable' :  'clickable';
			}
		},

		watch: {
			selected: 'watchSelected',
			disabled: 'watchDisabled'
		},

		mounted: function () {
			this.watchDisabled();
			this.watchSelected();
		},

		methods: {
			onClick: function (event) {

				if (!this.selected) {
					TweenMax.to(this.animate.icon, 0.3, { scale: 0.7, ease: Power2.easeOut, yoyo: true, repeat: 1 });
				}

				if (!this.disabled) {
					this.$emit('toggle-button-click', this.value);
				}
			},

			onMouseEnter: function (event) {
				if (!this.disabled) {
					TweenMax.to(this.animate.label, 0.3, { scale: 1, ease: Power2.easeOut });
				}
			},

			onMouseLeave: function (event) {
				if (!this.disabled) {
					TweenMax.to(this.animate.label, 0.3, { scale: 0, ease: Power2.easeIn });
				}
			},

			watchSelected: function (value) {
				if (!this.disabled) {
					if (value) {
						TweenMax.to(this.animate.icon, 0.3, { scale: 0.5, ease: Power2.easeIn });
					} else {
						TweenMax.to(this.animate.icon, 0.3, { scale: 1, ease: Power2.easeIn });
					}
				}
			},

			watchDisabled: function (value) {
				if (value) {
					TweenMax.to(this.animate.icon, 0.3, { scale: 1, opacity: 0.3, ease: Power2.easeIn });
				} else {
					TweenMax.to(this.animate.icon, 0.3, { scale: 1, opacity: 1, ease: Power2.easeIn });
				}
			}
		}
	};
</script>
