<template>
	<a-entity>

		<step-indicator position="-4.2393 5.6 -6.7843" rotation="0 32 0" step="06" title="CONFIRMATION" />

		<a-entity geometry="primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: 80; height: 0.03; radius: 8" material="color: #FFFFFF; side:double; shader: flat" position="0 4 0" rotation="0 140 0" />

		<curved-canvas-text v-bind:radius="8" text="TO REACH YOUR GOAL YOU NEED TO SAVE" v-bind:fontSize="0.64" v-bind:fixedHeight="0.64" v-bind:offsetY="0.07" color="#FFFFFF" position="0 3.4 0" v-bind:rotation-y="180" />

		<a-entity geometry="primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: 80; height: 0.03; radius: 8" material="color: #FFFFFF; side:double; shader: flat" position="0 3 0" rotation="0 140 0" />


		<a-entity v-once position="0 0.8 0" >
			<curved-canvas-text v-bind:radius="6" v-bind:text="monthly" v-bind:fontSize="0.8" v-bind:fixedHeight="0.8" v-bind:offsetY="0.035" color="#FFFFFF" position="0 1.2 0" v-bind:rotation-y="180" />

			<curved-canvas-text v-bind:radius="6" text="you are about to:" v-bind:fontSize="0.5" v-bind:fixedHeight="0.5" v-bind:offsetY="0.035" color="#FFFFFF" position="0 0.6 0" v-bind:rotation-y="180" />
			<!-- GOAL -->
			<curved-canvas-text v-bind:radius="6" text="Set your Goal for: " v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="2.3" v-bind:offsetY="0.035" color="#FFFFFF" position="0 0 0" v-bind:rotation-y="200" />

			<curved-canvas-text v-bind:radius="6" v-bind:text="goal" v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="4" v-bind:offsetY="0.035" color="#FFFFFF" position="0 0 0" v-bind:rotation-y="159" />

			<!-- PRODUCT -->
			<curved-canvas-text v-bind:radius="6" text="On a: " v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="2.3" v-bind:offsetY="0.035" color="#FFFFFF" position="0 -0.4 0" v-bind:rotation-y="200" />

			<curved-canvas-text v-bind:radius="6" v-bind:text="product" v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="4" v-bind:offsetY="0.035" color="#FFFFFF" position="0 -0.4 0" v-bind:rotation-y="159" />

			<!-- DATE -->
			<curved-canvas-text v-bind:radius="6" text="Goal End  Date: " v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="2.3" v-bind:offsetY="0.035" color="#FFFFFF" position="0 -0.8 0" v-bind:rotation-y="200" />

			<curved-canvas-text v-bind:radius="6" v-bind:text="date" v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="4" v-bind:offsetY="0.035" color="#FFFFFF" position="0 -0.8 0" v-bind:rotation-y="159" />

			<!-- DEPOSIT -->
			<curved-canvas-text v-bind:radius="6" text="Deposit Amount: " v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="2.3" v-bind:offsetY="0.035" color="#FFFFFF" position="0 -1.2 0" v-bind:rotation-y="200" />

			<curved-canvas-text v-bind:radius="6" v-bind:text="deposit" v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="4" v-bind:offsetY="0.035" color="#FFFFFF" position="0 -1.2 0" v-bind:rotation-y="159" />

			<!-- GOAL AMOUNT -->
			<curved-canvas-text v-bind:radius="6" text="Goal Amount: " v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="2.3" v-bind:offsetY="0.035" color="#FFFFFF" position="0 -1.6 0" v-bind:rotation-y="200" />

			<curved-canvas-text v-bind:radius="6" v-bind:text="target" v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="4" v-bind:offsetY="0.035" color="#FFFFFF" position="0 -1.6 0" v-bind:rotation-y="159" />

			<!-- ACCOUNT -->
			<curved-canvas-text v-bind:radius="6" text="From Acc: " v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="2.3" v-bind:offsetY="0.035" color="#FFFFFF" position="0 -2 0" v-bind:rotation-y="200" />

			<curved-canvas-text v-bind:radius="6" text="CHEQUE ACCOUNT" v-bind:fontSize="0.32" v-bind:fixedHeight="0.32" v-bind:fixedWidth="4" v-bind:offsetY="0.035" color="#FFFFFF" position="0 -2 0" v-bind:rotation-y="159" />
		</a-entity>

		<navigation-button direction="back" position="-4.5962 -0.5 -3.8567" rotation="0 50 0" v-on:navigation-button-click="navigateBack" />
		<navigation-button direction="confirm" position="4.5962 -0.5 -3.8567" rotation="0 310 0" v-on:navigation-button-click="navigateNext" />

	</a-entity>
</template>

<script>
	import *  as Utils from 'services/Utils';
	import * as Products from 'globals/Products';
	import * as SavingsGoals from 'globals/SavingsGoals';
	import AppStore from 'stores/AppStore';
	import CurvedCanvasText from 'components/CurvedCanvasText';
	import moment from 'moment';
	import NavigationButton from 'components/NavigationButton';
	import StepIndicator from 'components/StepIndicator';
	import { PRODUCT_SELECTION, CONFIRMATION, THANK_YOU } from 'globals/Steps';

	export default {

		name: CONFIRMATION,

		props: [],

		components: {
			'curved-canvas-text': CurvedCanvasText,
			'navigation-button': NavigationButton,
			'step-indicator': StepIndicator,
		},

		data: function () {
			return {
				app: AppStore,

				animate: {
					nextButton: {
						x: 2,
						y: 0,
						z: 0
					}
				}
			};
		},

		computed: {
			nextButtonPosition: function () {
				return this.animate.nextButton.x + ' ' + this.animate.nextButton.y + ' ' + this.animate.nextButton.z;
			},

			goal: function () {

				switch(this.app.investment.goal)
				{
					case SavingsGoals.TRAVEL:
						return 'TRAVEL'
						break;

					case SavingsGoals.ISLAND:
						return 'ISLAND GETAWAY'
						break;

					case SavingsGoals.WEDDING:
						return 'WEDDING'
						break;

					case SavingsGoals.EVENT:
						return 'SPECIAL EVENT'
						break;

					case SavingsGoals.HOME_DEPOSIT:
						return 'DEPOSIT ON A HOME'
						break;

					case SavingsGoals.CAR_DEPOSIT:
						return 'DEPOSIT ON A CAR'
						break;
				}
			},

			monthly : function () {

				if(this.app.investment.target < this.app.investment.deposit) {
					return Utils.formatCurrency(0);
				}

				let date = moment();

				date.utc().year(this.app.investment.date.year);
				date.utc().month(this.app.investment.date.month);

				const numMonths = date.diff(moment(), 'months');
				console.log('numMonths', numMonths)

				let interestRate = 0;

				switch(this.app.investment.product) {
					case Products.MONEY_ON_CALL:
						interestRate = 5.4;
						break;

					case Products.SEVEN_DAY_NOTICE:
						interestRate = 6.9;
						break;

					case Products.THIRTY_TWO_DAY_FLEXI_NOTICE:
						interestRate = 7.2;
						break;

					case Products.FLEXI_FIXED:
						interestRate = 7.1;
						break;

					case Products.FIXED_DEPOSIT:
						interestRate = 9.25;
						break;
				};

				interestRate /= 12 * 100;


				let monthly = (this.app.investment.target * interestRate) / (Math.pow(1 + interestRate, numMonths) -1) - this.app.investment.deposit;
				monthly = monthly.toFixed(2);

				return Utils.formatCurrency(monthly) + ' p/m';
			},

			target: function () {
				return Utils.formatCurrency(this.app.investment.target);
			},

			deposit: function () {
				return Utils.formatCurrency(this.app.investment.deposit);
			},

			product: function () {
				return this.app.investment.product;
			},

			date: function () {

				let date = moment();

				date.utc().year(this.app.investment.date.year);
				date.utc().month(this.app.investment.date.month);

				return date.format('MMMM YYYY').toUpperCase();
			},
		},

		methods: {
			navigateNext: function () {
				this.$emit('scene-change', { step: CONFIRMATION, nextStep: THANK_YOU });
			},

			navigateBack: function () {
				this.$emit('scene-change', { step: CONFIRMATION, nextStep: PRODUCT_SELECTION });
			}
		}
	};
</script>
