<template>
	<a-entity>
		<step-indicator position="-4.2393 5.6 -6.7843" rotation="0 32 0" step="03" title="GOAL DATE" />

		<a-entity geometry="primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: 80; height: 0.03; radius: 8" material="color: #FFFFFF; side:double; shader: flat" position="0 4 0" rotation="0 140 0" />

		<curved-canvas-text v-bind:radius="8" text="SELECT YOUR GOAL DATE" v-bind:fontSize="0.64" v-bind:fixedHeight="0.64" v-bind:offsetY="0.07" font-style="" color="#FFFFFF" position="0 3.4 0" v-bind:rotation-y="180" />

		<a-entity geometry="primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: 80; height: 0.03; radius: 8" material="color: #FFFFFF; side:double; shader: flat" position="0 3 0" rotation="0 140 0" />

		<date-picker v-bind:radius="8" v-bind:angle="8" v-bind:y="1.2" rotation="0 180 0" v-bind:set-date="app.setDate" />

		<navigation-button direction="back" position="-2.5357 -0.5 -5.4378" rotation="0 25 0" v-on:navigation-button-click="navigateBack" />
		<navigation-button direction="next" v-bind:position="nextButtonPosition" rotation="0 335 0" v-on:navigation-button-click="navigateNext" />

	</a-entity>
</template>

<script>
	import AppStore from 'stores/AppStore';
	import CurvedCanvasText from 'components/CurvedCanvasText';
	import DatePicker from 'components/DatePicker';
	import NavigationButton from 'components/NavigationButton';
	import StepIndicator from 'components/StepIndicator';
	import { GOAL_AMOUNT, GOAL_DATE, INITIAL_DEPOSIT } from 'globals/Steps';

	export default {

		name: GOAL_DATE,

		components: {
			'curved-canvas-text': CurvedCanvasText,
			'date-picker': DatePicker,
			'navigation-button': NavigationButton,
			'step-indicator': StepIndicator,
		},

		data: function () {
			return {
				app: AppStore,

				animate: {
					nextButton: {
						x: 0,
						y: 0,
						z: 0
					}
				}
			};
		},

		computed: {
			nextButtonPosition: function () {
				return this.animate.nextButton.x + ' ' + this.animate.nextButton.y + ' ' + this.animate.nextButton.z;
			}
		},

		mounted: function () {
			this.app.setDate(null, null);
		},

		watch: {
			'app.investment.date.month': function (newVal) {
				if (newVal && this.app.investment.date.year) {
					TweenLite.to(this.animate.nextButton, 0.3, {x: 2.5357, y: -0.5, z: -5.4378, ease:Power2.easeOut});
				} else {
					TweenLite.to(this.animate.nextButton, 0.3, {x: 0, y: 0, z: 0, ease:Power2.easeOut});
				}
			}
		},

		methods: {
			navigateNext: function () {
				this.$emit('scene-change', { step: GOAL_DATE, nextStep: INITIAL_DEPOSIT });
			},

			navigateBack: function () {
				this.$emit('scene-change', { step: GOAL_DATE, nextStep: GOAL_AMOUNT });
			},
		}
	};
</script>
