<template>
	<a-entity>

		<step-indicator position="-4.2393 5.6 -6.7843" rotation="0 32 0" step="05" title="PRODUCT" />

		<a-entity geometry="primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: 80; height: 0.03; radius: 8" material="color: #FFFFFF; side:double; shader: flat" position="0 4 0" rotation="0 140 0" />

		<curved-canvas-text v-bind:radius="8" text="SELECT YOUR PRODUCT" v-bind:fontSize="0.64" v-bind:fixedHeight="0.64" v-bind:offsetY="0.07" font-style="" color="#FFFFFF" position="0 3.4 0" v-bind:rotation-y="180" />

		<a-entity geometry="primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: 80; height: 0.03; radius: 8" material="color: #FFFFFF; side:double; shader: flat" position="0 3 0" rotation="0 140 0" />

		<a-entity position="0 2 0" rotation="0 180 0" >
			<template v-for="(category, index) in categories">
				<curved-canvas-text v-bind:radius="8" v-bind:text="category.label" v-bind:fontSize="0.3" v-bind:fixedHeight="0.3" v-bind:offsetY="0.01" font-style="" color="#FFFFFF" v-bind:position="category.position" v-bind:rotation-y="category.rotationY" />

				<a-entity geometry="primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: 30; height: 0.03; radius: 8" material="color: #FFFFFF; side:double; shader: flat" position="0 -0.2 0" v-bind:rotation="category.rotation" />
			</template>
		</a-entity>

		<a-entity position="0 1 0" rotation="0 180 0" >
			<template v-for="(product, index) in products">
				<toggle-button v-bind:texture="product.texture" v-bind:position="getPosition(6, 8, product.index, 17)" v-bind:rotation="getRotation(6, product.index, 17)" v-bind:value="product.value" v-bind:label="product.value" v-bind:disabled="product.disabled" v-on:toggle-button-click="onClickProduct" />
			</template>
		</a-entity>

		<a-curvedimage src="#product-table" height="4.5;" radius="8" theta-length="64.457752" rotation="0 -32 0" position="0 1.6 0" ></a-curvedimage>

		<navigation-button direction="back" position="-2.5357 -0.5 -5.4378" rotation="0 25 0" v-on:navigation-button-click="navigateBack" />
		<navigation-button direction="next" v-bind:position="nextButtonPosition" rotation="0 335 0" v-on:navigation-button-click="navigateNext" />

	</a-entity>

</template>

<script>
	import * as Products from 'globals/Products';
	import AppStore from 'stores/AppStore';
	import CurvedCanvasText from 'components/CurvedCanvasText';
	import Layout from 'services/Layout';
	import NavigationButton from 'components/NavigationButton';
	import StepIndicator from 'components/StepIndicator';
	import ToggleButton from 'components/ToggleButton';
	import { INITIAL_DEPOSIT, PRODUCT_SELECTION, CONFIRMATION } from 'globals/Steps';

	export default {

		name: PRODUCT_SELECTION,

		props: [ "sceneScale" ],

		components: {
			'curved-canvas-text': CurvedCanvasText,
			'navigation-button': NavigationButton,
			'step-indicator': StepIndicator,
			'toggle-button': ToggleButton,
		},

		data: function () {
			return {
				app: AppStore,

				products: [
					{
						texture: '#money-on-call',
						value: Products.MONEY_ON_CALL,
						index: 14,
						disabled: false
					},

					{
						texture: '#seven-day-notice',
						value: Products.SEVEN_DAY_NOTICE,
						index: 9,
						disabled: false
					},

					{
						texture: '#thirtytwo-day-flexi-notice',
						value: Products.THIRTY_TWO_DAY_FLEXI_NOTICE,
						index: 7,
						disabled: false
					},

					{
						texture: '#flexi-fixed',
						value: Products.FLEXI_FIXED,
						index: 3,
						disabled: true
					},

					{
						texture: '#fixed-deposit',
						value: Products.FIXED_DEPOSIT,
						index: 1,
						disabled: true
					}
				],

				categories: [
					{
						label: 'ACCESS IMMEDIATELY',
						index: 14,
						position: "0 0 0",
						rotationY: 36,
						rotation: "0 21 0"
					},

					{
						label: 'ACCESS WITH NOTICE',
						index: 8,
						position: "0 0 0",
						rotationY: 0,
						rotation: "0 345 0"
					},

					{
						label: 'ACCESS AFTER A FIXED PERIOD',
						index: 2,
						position: "0 0 0",
						rotationY: -36,
						rotation: "0 -51 0"
					},
				],

				animate: {
					nextButton: {
						x: 0,
						y: 0,
						z: 0
					}
				}
			};
		},

		computed: {
			nextButtonPosition: function () {
				return this.animate.nextButton.x + ' ' + this.animate.nextButton.y + ' ' + this.animate.nextButton.z;
			},

			scale: function () {
				return this.sceneScale + ' ' + this.sceneScale + ' ' + this.sceneScale;
			}
		},

		watch: {
			'app.investment.product': function (newVal) {
				if (newVal) {
					TweenLite.to(this.animate.nextButton, 0.3, {x: 2.5357, y: -0.5, z: -5.4378, ease:Power2.easeOut});
				} else {
					TweenLite.to(this.animate.nextButton, 0.3, {x: 0, y: 0, z: 0, ease:Power2.easeOut});
				}
			}
		},

		mounted: function () {
			this.app.setProduct(null);
		},

		methods: {
			navigateNext: function () {
				this.$emit('scene-change', { step: PRODUCT_SELECTION, nextStep: CONFIRMATION });
			},

			navigateBack: function () {
				this.$emit('scene-change', { step: PRODUCT_SELECTION, nextStep: INITIAL_DEPOSIT });
			},

			getPosition: function (angle, radius, index, total) {
				const position =  Layout.distributeAlongCircumference(angle, radius, index, total);
				return position.x + ' 0 ' + position.y
			},

			getRotation: function (angle, index, total) {
				return Layout.rotateToCenter(angle, index, total);
			},

			onClickProduct: function (value) {
				this.app.setProduct(value);
			}
		}
	};
</script>
