<template>

	<a-entity>

		<step-indicator position="-4.2393 5.6 -6.7843" rotation="0 32 0" step="01" title="MY GOAL" />

		<a-entity geometry="primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: 80; height: 0.03; radius: 8" material="color: #FFFFFF; side:double; shader: flat" position="0 4 0" rotation="0 140 0" />

		<curved-canvas-text v-bind:radius="8" text="SELECT YOUR SAVINGS GOAL" v-bind:fontSize="0.64" v-bind:fixedHeight="0.64" v-bind:offsetY="0.07" font-style="" color="#FFFFFF" position="0 3.4 0" v-bind:rotation-y="180" />

		<a-entity geometry="primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: 80; height: 0.03; radius: 8" material="color: #FFFFFF; side:double; shader: flat" position="0 3 0" rotation="0 140 0" />

		<goal-picker v-bind:radius="8" v-bind:angle="14" v-bind:y="1.6" rotation="0 180 0" v-bind:set-goal="app.setGoal" v-on:goal-picker-change="onGoalSelected" />

	</a-entity>

</template>

<script>

	import AppStore from 'stores/AppStore';
	import CurvedCanvasText from 'components/CurvedCanvasText';
	import GoalPicker from 'components/GoalPicker';
	import StepIndicator from 'components/StepIndicator';
	import { SAVINGS_GOAL, GOAL_AMOUNT } from 'globals/Steps';

	export default {

		name: SAVINGS_GOAL,

		components: {
			'curved-canvas-text': CurvedCanvasText,
			'goal-picker': GoalPicker,
			'step-indicator': StepIndicator,
		},

		data: function () {
			return {
				app: AppStore
			};
		},

		mounted: function () {
			this.app.reset();
		},

		methods: {
			onGoalSelected: function () {
				this.$emit('scene-change', { step: SAVINGS_GOAL, nextStep: GOAL_AMOUNT });
			}
		}
	};
</script>
