<template>
	<a-entity>

		<a-entity geometry="primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: 80; height: 0.03; radius: 8" material="color: #FFFFFF; side:double; shader: flat" position="0 4 0" rotation="0 140 0" />

		<curved-canvas-text v-bind:radius="8" text="THANK YOU YOUR ACCOUNT HAS BEEN OPENED" v-bind:fontSize="0.64" v-bind:fixedHeight="0.64" v-bind:offsetY="0.07" color="#FFFFFF" position="0 3.4 0" v-bind:rotation-y="180" />

		<a-entity geometry="primitive: cylinder; openEnded: true; thetaStart: 0; thetaLength: 80; height: 0.03; radius: 8" material="color: #FFFFFF; side:double; shader: flat" position="0 3 0" rotation="0 140 0" />


		<a-entity v-once position="0 0.8 0" >
			<curved-canvas-text v-bind:radius="8" v-bind:text="account" v-bind:fontSize="0.8" v-bind:fixedHeight="0.8" v-bind:offsetY="0.035" color="#FFFFFF" position="0 1.2 0" v-bind:rotation-y="180" />

			<curved-canvas-text v-bind:radius="8" text="We hope you enjoyed your VR Experience" v-bind:fontSize="0.5" v-bind:fixedHeight="0.5" v-bind:offsetY="0.035" color="#FFFFFF" position="0 0 0" v-bind:rotation-y="180" />
		</a-entity>

<!--
		<a-video src="#timelapse" width="64" height="36" position="0 1.6 -13" rotation="0 180 0"/>
 -->
		<!-- <navigation-button direction="back" position="-4.5962 -0.5 -3.8567" rotation="0 50 0" v-on:navigation-button-click="navigateBack" /> -->
		<navigation-button direction="next" position="0 0.8 -3" v-on:navigation-button-click="navigateNext" />

	</a-entity>
</template>

<script>
	import *  as Utils from 'services/Utils';
	import AppStore from 'stores/AppStore';
	import CurvedCanvasText from 'components/CurvedCanvasText';
	import NavigationButton from 'components/NavigationButton';
	import { SAVINGS_GOAL, THANK_YOU } from 'globals/Steps';

	export default {

		name: THANK_YOU,

		components: {
			'curved-canvas-text': CurvedCanvasText,
			'navigation-button': NavigationButton,
		},

		data: function () {
			return {
				app: AppStore,

				animate: {
					nextButton: {
						x: 2,
						y: 0,
						z: 0
					}
				}
			};
		},

		computed: {
			account: function () {
				let accNum = 'ACC NUM: 76';

				for (let i = 0; i < 9; i++) {
					accNum += Math.floor(Math.random() * 10);
				}

				return accNum;
			},
		},

		methods: {
			navigateNext: function () {
				this.$emit('scene-change', { step: THANK_YOU, nextStep: SAVINGS_GOAL });
			},
		}
	};
</script>
