<template>
	<div class="app">
		<component v-bind:is="currentScreen" />
	</div>
</template>

<script>
	import { INTRO, VR_SCENE } from 'globals/AppScreen';
	import * as Steps from 'globals/Steps';
	import Intro from 'screens/Intro';
	import VRScene from 'screens/VRScene';
	import AppStore from 'stores/AppStore';

	export default {

		name: 'App',

		components: {
			'intro': Intro,
			'vr-scene': VRScene
		},

		data: function () {
			return AppStore;
		},

		mounted: function () {
			this.setScreen(INTRO);
			// this.setScreen(VR_SCENE);
			this.setStep(Steps.SAVINGS_GOAL);
			// this.setStep(Steps.GOAL_AMOUNT);
			// this.setStep(Steps.GOAL_DATE);
			// this.setStep(Steps.INITIAL_DEPOSIT);
			// this.setStep(Steps.PRODUCT_SELECTION);
			// this.setStep(Steps.CONFIRMATION);

			const appLoader = document.getElementById('app-loader');

			if (appLoader && appLoader.parentNode) {
				appLoader.classList.add('app-loader--animate-out');
				setTimeout(() => document.body.removeChild(appLoader), 1000);
			}
		}
	};
</script>

<style src="normalize.css"></style>

<style>

	html{
	  	font-size: 10px;
  		box-sizing: border-box;
	}

	*, *:before, *:after {
	  box-sizing: inherit;
	}

	html, body {
		width: 100%;
		height: 100%;
	}

	body {
	 	font-family: "FNB Sans", "Helvetica", "Roboto", "Arial", sans-serif;
	  	display: flex;
	  	color: #212121;
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased !important;
		-moz-osx-font-smoothing: grayscale;
	}

	button {
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-appearance: none;
		-webkit-user-select: none;
		appearance: none;
		background: transparent;
		border: 0;
		color: inherit;
		font: inherit;
		margin: 0;
		padding: 0;
		user-select: none;
		width: auto;
	}

	button::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

</style>

<style>
	.screen {
	  display: flex;
	  flex: 1 0 auto;
	  position: absolute;
	  min-width: 100%;
	  min-height: 100%;
	}

	.ripple {
	    overflow: hidden;
	    position: relative;
	}

	.ripple::after {
	    border-radius: 50%;
	    content: '';
	    display: block;
	    left: 50%;
	    opacity: 0.6;
	    position: absolute;
	    top: 50%;
	    transform: translateX(-50%) translateY(-50%) scale(0);
		/* fixes initial animation run, without user input, on page load. */
		visibility: hidden;
	}

	.ripple:not(:active)::after {
		/*ease-out-quad*/
	    animation: ripple-effect 1s cubic-bezier(0.250,  0.460, 0.450, 0.940);
	}

	.ripple:focus::after {
	    visibility: visible;
	}

	@keyframes ripple-effect {
	    0% {
	        transform: translateX(-50%) translateY(-50%) scale(0);
	    }
	    20% {
	        transform: translateX(-50%) translateY(-50%) scale(1);
	    }
	    100% {
	        opacity: 0;
	        transform: translateX(-50%) translateY(-50%) scale(1);
	    }
	}
</style>

<style scoped>

	.app {
	  display: flex;
	  /*flex: 1 0 auto;*/
	  /*z-index: 1;*/
	  position: absolute;
	  min-width: 100%;
	  min-height: 100%;
	}

</style>
